@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

html{
    font-size: 14px;
}

body{
    background-color: white;
    font-family: 'Work Sans', sans-serif;
}


img{
    width: 100%;
}



.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1340px;
}


h2{
    font-size: 3rem;
    color: #0B0223;
    font-weight: 700;
}

p{
    line-height: 1.5;
}

.gradient-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.btn{
    font: inherit;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-gradient{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: white;
}



/* nav bar style starts */

.nav{
    text-align: center;
    padding: 30px 0;
}


.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.logo-img{
    width: 80px;
}

.logo-text{
    font-size: 2.5rem;
    font-weight: 700;
}

.pink{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-list li{
    margin-top: 30px;
    list-style: none;
}

.nav-list a{
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
}

.nav-list .follow-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
}

.follow-btn img{
    width: 34px;
}
/* nav bar style end */

/* banner style */

.banner{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    margin: 30px 0;
}

.banner-text{
    margin: 0 auto;
    background-image: url("images/bg-img.png");
    padding: 10px;
}

.banner-text p{
    font-size: 3rem;
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;
}

.heading{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner ul{
    margin: 20px 0;
}

.banner-text li{
    list-style: none;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.banner-img{
    border-radius: 10px;
}



.banner li img{
    width: 24px;
}

#rogue-btn{
    background-color: #4EC5F7;
    color: white;
    margin-left: 10px;
}

/* banner style end */

/* gamer text style starts */

.gamer-text{
    text-align: center;
}

.gamer-text p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0;
}

.quote-text{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}


.purpose-text{
    font-size: 24px;
    font-weight: 500;
}

/* gamer text style end */



/* funny videos style starts */

.funny-videos{
    margin: 50px 0;
}

.funny-video-text{
    text-align: center;
    margin: 20px;
}

.funny-video-text p{
    color: #534C64;
    font-size: 1.125rem;
    margin: 10px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

figcaption{
    text-align: center;
    margin: 10px 0;
}


.grid-img{
    position: relative;
}

.overly-img-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FF42A5;
    opacity: 0;
}

.grid-img .overly-img-container:hover{
    opacity: 1;
    outline: 3px solid #F948B2;
}

.play-btn-img{
    width: 40px;
}


/* funny videos style end */


/* play-text style start */

.play-section-text{
    text-align: center;
    margin: 20px 0;
}

.play-img-container{
    position: relative;
    margin-bottom: 80px;
    padding-left: 80px;
}


.absolute{
    position: absolute;
    width: 150px;
    left: 0;
    bottom: -60px;
}

/* play-text style end */


/* career section style */

.career{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 30px 0;
}

.career h2{
    color: #FFF;
}

.career p{
    color: white;
    margin: 15px 0;
}

.career-btn{
    color: #F948B2;
    margin-bottom: 20px;
}

.career-img{
    padding: 20px;
}

/* career section style */


/* game category style start */

.game-category-section{
    padding: 50px 0;
    margin: 30px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.game-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    border-radius: 100px;
    padding: 5px;
    font-weight: 600;

}

.game:hover{
    /* border: 1px solid #F948B2; */
    outline: 1px solid #F948B2;
    color: #F948B2;
}

.game img{
    width: 25px;
}

/* game category style end */


/* footer style starts */

footer{
    background-color: #0B0223;
    color: white;
    padding: 50px 0;
}

.footer-section{
    text-align: center;
}

.footer-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-logo-container h2{
    color: white;
}

.footer-logo-container img{
    width: 80px;
}

.footer-none{
    display: none;
}


.links{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.links a{
    color: white;
    text-decoration: none;
}


.icon{
    width: 40px;
    margin: 10px;
}

.terms{
    margin: 20px 0;
}

.terms a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    padding: 10px;
    line-height: 2;
}

small{
    color: rgba(255, 255, 255, 0.60);
}

/* footer style end */



/* medium size screen */

@media screen and (min-width: 600px) and (max-width: 900px) {

    .nav-bar,
    .nav-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .nav-list li{
        margin-top: 0;
    }

    .tab-none{
        display: none;
    }



    .banner-text{
        width: 100%;
        text-align: center;
    }

    .banner ul{
        display: grid;
        place-content: center;
    }


    .grid{
        grid-template-columns: repeat(2, 1fr);
    }


    .absolute{
        position: absolute;
        width: 300px;
        left: 0;
        bottom: -60px;
    }

    .game img{
        width: 50px;
    }

    .career{
        text-align: center;
    }

    .footer-none{
        display: inline;
    }
}


/* big screen */
@media screen and (min-width: 900px) {
    nav{
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    }

    .nav-bar,
    .nav-list,
    .play-section,
    .gamer-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list{
        gap: 30px;
    }

    .nav-list li{
        margin-top: 0;
    }

    /* banner style */

    .banner{
        flex-direction: row;
        align-items: center;
        gap: 40px;
        justify-content: space-between;
    }


    .banner-img-container{
        width: 55%;
    }

    .banner-text{
        width: 40%;
        padding: 20px;
    }

    #rogue-btn{
        margin-bottom: 20px;
    }
   

    /* funny videos style */

    .grid{
        grid-template-columns: repeat(4,1fr);
    }

    figcaption{
        text-align: left;
    }


    /* play section style */

    .play-section{
        justify-content: center;
        gap: 50px;
    }

    .play-img-container{
        width: 58%;
        padding-left: 100px;
    }


    .absolute{
        width: 250px;
    }

    .play-section-text{
        width: 37%;
        text-align: left;
    }

    .text-right{
        text-align: right;
    }


    /* career section style start */

    .career-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .career-text{
        width: 48%;
    }

    .career-img{
        width: 48%;
    }

    /* career section style end */


    /* category section */

    .game img{
        width: 60px;
    }

    /* category section */


    .gamer-section{
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
        padding: 20px 0;
    }

    .gamer-container{
        gap: 30px;
    }

    .gamer-text{
        text-align: right;
        width: 45%;
    }

    .gamer-img{
        width: 50%;
    }

    .footer-none{
        display: inline;
    }

}